1.Explain key features of python that make it a popular choice for programming

•	Readability and Simplicity: Python's syntax is clear and easy to read, which makes it accessible for beginners and allows experienced programmers to write code more quickly.
•	Versatility: Python can be used for various applications, including web development, data analysis, artificial intelligence, scientific computing, automation, and more.
•	Rich Ecosystem of Libraries and Frameworks: Python has a vast collection of libraries and frameworks (like NumPy, Pandas, Django, Flask, and TensorFlow) that facilitate development and extend functionality.
•	Community Support: A large and active community provides extensive documentation, tutorials, and forums, making it easier to find help and resources.
•	Cross-Platform Compatibility: Python runs on various operating systems, including Windows, macOS, and Linux, allowing for flexibility in development and deployment.
•	Strong Integration Capabilities: Python can easily integrate with other languages and technologies, allowing developers to use it alongside C, C++, and Java, among others.
•	Interpreted Language: Being an interpreted language, Python allows for interactive testing and debugging, making development faster and more efficient.
•	Dynamic Typing: Python uses dynamic typing, which enables variable types to be determined at runtime, making the code more flexible.
•	Extensive Use in Data Science and Machine Learning: Python has become the go-to language for data science and machine learning, largely due to its libraries and ease of use.

2.Describe the role of predefined keywords in python and provide examples of how they are used in a programme
predefined keywords (also known as reserved words) are special identifiers that have specific meanings and purposes within the language. These keywords cannot be used as identifiers (e.g., variable names, function names) because they are reserved for defining the syntax and structure of Python code.
1. Control Flow
Keywords like if, elif, else, for, while, and break are used to control the flow of a program.

In [3]:
age = 20

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

2. Function Definition
The keyword def is used to define functions.

In [4]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

3. Exception Handling
Keywords like try, except, finally, and raise are used for handling exceptions.

In [7]:
try:
    value = int(input("Enter a number: "))
except ValueError:
    print("That's not a valid number!")
else:
    print(if"You entered: {value}")

Enter a number: 1
You entered: 1

4. Class Definition
The keyword class is used to define classes.

In [8]:
class Dog:
    def bark(self):
        return "Woof!"

my_dog = Dog()
print(my_dog.bark())

Woof!

5. Importing Modules
The keywords import and from are used to include external modules or specific functions/classes from those modules.

In [9]:
import math

print(math.sqrt(16))

4.0

6. Logical Operations
Keywords like and, or, and not are used for logical operations.

In [10]:
x = 10
y = 20

if x < 15 and y > 15:
    print("Both conditions are true.")

Both conditions are true.

7. Data Structure Definition
Keywords such as in, is, and not help in checking membership and identity.

In [11]:
fruits = ["apple", "banana", "cherry"]

if "banana" in fruits:
    print("Banana is in the list.")

Banana is in the list.

3. Compare & contrast mutable & unmutable objects in python with example
Definition: Mutable objects are those whose value or state can be changed after they are created.
Examples: Lists, Dictionaries, Sets
Characteristics:
•	Changeable: Their contents can be modified without creating a new object.
•	Methods: They typically include methods that allow in-place modifications.
•	Identity: The identity (memory address) remains the same even when contents change.

In [13]:
# Mutable Example
my_list = [1, 2, 3]
print("Original list:", my_list)

# Modifying the list
my_list.append(4)
print("Modified list:", my_list)  # Output: [1, 2, 3, 4]

Original list: [1, 2, 3]
Modified list: [1, 2, 3, 4]

Immutable Objects
Definition: Immutable objects are those whose value or state cannot be changed after they are created.
Examples: Tuples, Strings, Frozensets
Characteristics:
•	Unchangeable: Any operation that modifies an immutable object results in the creation of a new object.
•	Hashable: Can be used as keys in dictionaries and elements in sets.
•	Efficiency: Often more efficient in terms of memory and speed for certain operations.

In [14]:
# Immutable Example
my_tuple = (1, 2, 3)
print("Original tuple:", my_tuple)

# Attempting to modify the tuple
try:
    my_tuple[0] = 4  # This will raise an error
except TypeError as e:
    print("Error:", e)  # Output: 'tuple' object does not support item assignment

# Creating a new tuple instead
new_tuple = my_tuple + (4,)
print("New tuple:", new_tuple)  # Output: (1, 2, 3, 4)

Original tuple: (1, 2, 3)
Error: 'tuple' object does not support item assignment
New tuple: (1, 2, 3, 4)

summary
Mutable: Changeable, examples include lists and dictionaries.
Immutable: Unchangeable, examples include strings and tuples.

4. Discuss different type of operators in python  & provide examples of how they are used

 1.Arithmetic Operators
These operators are used to perform mathematical operations.
•	Addition (+)
•	Subtraction (-)
•	Multiplication (*)
•	Division (/)
•	Floor Division (//)
•	Modulus (%)
•	Exponentiation (**)

In [18]:
a=5
b=6
print (a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

11
-1
30
0.8333333333333334
0
5
15625

2. Comparison Operators
These operators compare two values and return a Boolean result (True or False).
•	Equal to (==)
•	Not equal to (!=)
•	Greater than (>)
•	Less than (<)
•	Greater than or equal to (>=)
•	Less than or equal to (<=)

In [19]:
x = 5
y = 10
print(x == y)  # Output: False
print(x != y)  # Output: True
print(x > y)   # Output: False
print(x < y)   # Output: True
print(x >= y)  # Output: False
print(x <= y)

False
True
False
True
False
True

3. Logical Operators
These operators perform logical operations on Boolean values.These operators are used to combine conditional statements.
•	AND (and)
•	OR (or)
•	NOT (not)

In [20]:
a = True
b = False
print(a and b)  # Output: False
print(a or b)   # Output: True
print(not a)    # Output: False

False
True
False

4. Assignment Operators
These operators are used to assign values to variables.
•	Assignment (=)
•	Addition assignment (+=)
•	Subtraction assignment (-=)
•	Multiplication assignment (*=)
•	Division assignment (/=)

In [23]:
num = 10
num += 5  # Equivalent to num = num + 5
num -= 3  # Equivalent to num = num - 3
num *= 2  # Equivalent to num = num * 2
num /= 4  # Equivalent to num = num / 4

5. Bitwise Operators
These operators perform operations on binary representations of integers.
•	AND (&)
•	OR (|)
•	XOR (^)
•	NOT (~)
•	Left Shift (<<)
•	Right Shift (>>)

In [25]:
a = 10  # Binary: 1010
b = 4   # Binary: 0100
print("Bitwise AND:", a & b)   # Output: 0 (Binary: 0000)
print("Bitwise OR:", a | b)    # Output: 14 (Binary: 1110)
print("Bitwise XOR:", a ^ b)   # Output: 14 (Binary: 1110)
print("Bitwise NOT:", ~a)      # Output: -11 (Two's complement)
print("Left Shift:", a << 1)   # Output: 20 (Binary: 10100)
print("Right Shift:", a >> 1)  # Output: 5 (Binary: 0101)

Bitwise AND: 0
Bitwise OR: 14
Bitwise XOR: 14
Bitwise NOT: -11
Left Shift: 20
Right Shift: 5

6. Identity Operators
These operators check if two variables point to the same object.
•	is
•	is not

In [24]:
a = [1, 2, 3]
b = a
c = a[:]
print("a is b:", a is b)
print("a is c:", a is c)
print("a is not c:", a is not c)

a is b: True
a is c: False
a is not c: True

7. Membership Operators
These operators test for membership in sequences (like strings, lists, tuples).
•	in
•	not in

In [26]:
my_list = [1, 2, 3, 4, 5]
print("2 in list:", 2 in my_list)
print("6 in list:", 6 in my_list)
print("10 not in list:", 10 not in my_list)

2 in list: True
6 in list: False
10 not in list: True

5. Explain concept of type casting in python with examples
Types of Type Casting
1.	Implicit Type Casting (Automatic Casting)
2.	Explicit Type Casting (Manual Casting)
1. Implicit Type Casting
Python automatically converts one data type to another without losing information. This usually happens when a smaller data type is assigned to a larger data type.
1. Implicit Type Casting
Python automatically converts one data type to another without losing information. This usually happens when a smaller data type is assigned to a larger data type.

In [30]:
# Implicit Type Casting
a = 5       # int
b = 2.0     # float

# a is automatically converted to float for the operation
result = a + b  # result is a float
print(result)   # Output: 7.0

7.0

2. Explicit Type Casting (Manual)
In explicit type casting, the programmer manually converts one data type to another using built-in functions.

Common Functions for Explicit Casting:
int(): Converts to an integer.
float(): Converts to a float.
str(): Converts to a string.
list(): Converts to a list.
tuple(): Converts to a tuple.

Examples:
1.Converting to Integer:

In [31]:
# Explicit Type Casting to int
num_str = "10"
num_int = int(num_str)  # Converts string to int
print(num_int)          # Output: 10

10

2.Converting to Float:

In [32]:
# Explicit Type Casting to float
num_str = "10.5"
num_float = float(num_str)  # Converts string to float
print(num_float)             # Output: 10.5

10.5

3.Converting to String:

In [33]:
# Explicit Type Casting to str
num = 100
num_str = str(num)  # Converts int to string
print(num_str)      # Output: "100"

100

4.Converting to List:

In [34]:
# Explicit Type Casting to list
my_tuple = (1, 2, 3)
my_list = list(my_tuple)  # Converts tuple to list
print(my_list)            # Output: [1, 2, 3]

[1, 2, 3]

5.Converting to Tuple:

In [35]:
# Explicit Type Casting to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)  # Converts list to tuple
print(my_tuple)            # Output: (1, 2, 3)

(1, 2, 3)

6. How do conditional statement works in python? Illustrate with examples
Conditional statements in Python allow you to execute certain blocks of code based on whether a condition is true or false. The primary conditional statements in Python are if, elif, and else. Here’s how they work, along with

1. if Statement

In [36]:
age = 18

if age >= 18:
    print("You are an adult.")

You are an adult.

2. else Statement

In [37]:
age = 16

if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")

You are not an adult.

3. elif Statement

In [38]:
score = 75

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: C

4. Combining Conditions
You can combine multiple conditions using logical operators (and, or, not).

In [39]:
age = 20
has_license = True

if age >= 18 and has_license:
    print("You can drive.")
else:
    print("You cannot drive.")

You can drive.

5. Nested Conditional Statements
You can also nest if statements inside other if statements for more complex conditions.

In [40]:
num = 5

if num > 0:
    print("Positive number")
    if num % 2 == 0:
        print("Even number")
    else:
        print("Odd number")
else:
    print("Negative number")

Positive number
Odd number

6. Ternary Conditional Operator
Python also provides a way to write conditional statements in a single line using the ternary operator.

In [45]:
age = 15
status = "Adult" if age >= 18 else "Not an adult"
print(status)  # Output: Not an adult

Not an adult

summary:
if: Evaluates a condition and executes code if True.
else: Executes code if the if condition is False.
elif: Checks multiple conditions in sequence.
Logical Operators: Combine conditions for more complex checks.
Nested Statements: Allows conditions within conditions.
Ternary Operator: A shorthand for simple conditional assignments.
These conditional statements provide flexibility and control in your code, enabling you to handle different scenarios effectively.

7. Describe various types of loops in python and their use cases with examples

In Python, loops are used to execute a block of code repeatedly as long as a specified condition is true. The primary types of loops are for loops and while loops. Each type has its specific use cases and syntax. Here’s an overview of the different types of loops, along with examples.

1. for Loop
The for loop is used to iterate over a sequence (like a list, tuple, string, or range). It is particularly useful when you know the number of iterations in advance.

In [46]:
# Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

2. while Loop
The while loop repeatedly executes a block of code as long as a specified condition is true. It is useful when the number of iterations is not known beforehand and depends on dynamic conditions.

In [47]:
# Using a while loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

3. Nested Loops
You can use loops inside other loops, known as nested loops. This is useful for working with multi-dimensional data structures, such as lists of lists.

In [48]:
# Nested loops
for i in range(3):
    for j in range(2):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1

4. Loop Control Statements
Python provides several control statements to alter the flow of loops:

break: Terminates the loop prematurely.
continue: Skips the current iteration and proceeds to the next iteration.
pass: Does nothing and is often used as a placeholder.

e.g. of break

In [49]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

Example of continue

In [50]:
for num in range(5):
    if num == 2:
        continue
    print(num)

0
1
3
4

Example of pass

In [51]:
for num in range(5):
    if num == 2:
        pass  # Placeholder
    print(num)

0
1
2
3
4

Loops are fundamental to programming in Python, allowing you to automate repetitive tasks and handle collections of data efficiently.